<!doctype html>
<html lang="en-us">

<head>
    <title>Capstone</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/large.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <header class="prim-header">
        <!-- Top Navigation Menu -->
        <button class="mobile-nav-toggle fa fa-bars" aria-controls="primary-nav" aria-expanded="false">
            <span class="sr-only">Menu</span>
        </button>

        <nav>
            <ul id="primary-nav" data-visible="false" class="primary-nav flex">
                <li> <a href="/" class="links active">Homepage</a></li>
                <% if (user) {%>
                <li> <a class="links" href="/auth/logout">Logout</a></li>
                <% } else {%>
                <li> <a class="links" href="/auth/login">Login</a></li>
                <% } %>
                <li> <a class="links" href="/profile">Profile</a></li>
                <li> <a class="links" href="/recovery/gambling">Gambling</a></li>
                <li> <a class="links" href="/recovery/sexual">Sexual</a></li>
                <li> <a class="links" href="/recovery/substance">Substance</a></li>
                <li> <a class="links" href="/recovery/technology">Technology</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h1>Welcome to the profile page</h1>
        <h1>Overcoming Addictions</h1>
        <div class="effect">
            <h2>What A Gambling Addiction Does to You</h2>

            <div class="health">
                <h3>To your Health</h3>
                <p>Gambling can stimulate the brain's reward system much like drugs or alcohol can, leading to
                    addiction. Problem gambling is harmful to psychological and physical health. People who live with
                    this addiction may experience depression, migraine, distress, intestinal disorders, and other
                    anxiety-related problems.</p>
            </div>

            <div class="family">
                <h3>To your Family</h3>
                <p>Trying to deal with the stress and tension brought on as a result of the gambler’s behavior
                    jeopardizes the bond among family members. When the spouse, children, siblings and other family
                    members can no longer trust the gambler, feel no sense of security, have no confidence in the
                    gambler or even fear for their future, the result is a breakdown in the family relationships. Shame,
                    avoidance of friends, secrecy and trying to hide the pain further magnify the isolation the family
                    members feel as the gambler’s behavior gets more and more out of control.</p>
            </div>
        </div>
        <div class="recover">
            <h2>Recovery</h2>
            <div class="MAF">
                <h3>Myths and Facts about Gambling Problems</h3>
                <div>
                    <p><strong>Myth: You have to gamble every day to be a problem gambler.</strong></p>
                    <p><strong>Fact:</strong> A problem gambler may gamble frequently or infrequently. Gambling is a
                        problem if it causes problems.</p>
                </div>
                <div>
                    <p><strong>Myth: Problem gambling is not really a problem if the gambler can afford it.</strong></p>
                    <p><strong>Fact:</strong> Problems caused by excessive gambling are not just financial. Too much
                        time spent on gambling can also lead to relationship and legal problems, job loss, mental health
                        problems including depression and anxiety, and even suicide.</p>
                </div>
                <div>
                    <p><strong>Myth: Having a gambling problem is just a case of being weak-willed, irresponsible, or
                            unintelligent.</strong></p>
                    <p><strong>Fact:</strong> Gambling problems affect people of all levels of intelligence and all
                        backgrounds. Previously responsible and strong-willed people are just as likely to develop a
                        gambling problem as anyone else.</p>
                </div>
                <div>
                    <p><strong>Myth: Partners of problem gamblers often drive their loved ones to gamble.</strong></p>
                    <p><strong>Fact:</strong> Problem gamblers often try to rationalize their behavior. Blaming others
                        is one way to avoid taking responsibility for their actions, including what is needed to
                        overcome the problem.</p>
                </div>
                <div>
                    <p><strong>Myth: If a problem gambler builds up a debt, you should help them take care of
                            it.</strong></p>
                    <p><strong>Fact:</strong> Quick fix solutions may appear to be the right thing to do. However,
                        bailing the gambler out of debt may actually make matters worse by enabling their gambling
                        problems to continue.</p>
                </div>

            </div>
            <div class="tips">
                <h3>Some Tips</h3>
                <p><strong>Learn to relieve unpleasant feelings in healthier ways.</strong> Do you gamble when you’re
                    lonely or bored? Or after a stressful day at work or following an argument with your spouse?
                    Gambling may be a way to self-soothe unpleasant emotions, unwind, or socialize. But there are
                    healthier and more effective ways of managing your moods and relieving boredom, such as exercising,
                    spending time with friends who don’t gamble, taking up new hobbies, or practicing relaxation
                    techniques.</p>
                <p><strong>Seek help for underlying mood disorders.</strong> Depression, stress, substance abuse, or
                    anxiety can both trigger gambling problems and be made worse by compulsive gambling. Even
                    when gambling is no longer a part of your life, these problems will still remain, so it’s
                    important to address them.</p>
                <p><strong>Avoid Temptation</strong>
                    Gambling is a temptation, but seeing gambling as an addiction is a significant step because it
                    permits you to use skills from addiction recovery and relapse prevention. For someone in recovery,
                    avoiding people, places and activities linked to gambling can help them avoid a setback. By avoiding
                    these triggers, you can avoid the thoughts and feelings that encourage gambling.

                    So, if driving by a casino after work sparks thoughts of gambling, take an alternative way home. If
                    watching sports makes you want to bet on it, consider watching something else. Cut up your credit
                    cards and let your spouse handle the checkbook.

                    It may seem like an inconvenience, but just as a person with a drinking problem should not go into a
                    bar, you have to identify and avoid your triggers. Work with a loved one on your list of triggers
                    and find ways to avoid the temptations to reduce the risk of gambling.</p>
            </div>
    </main>
    <script src="../js/nav.js"></script>

</body>

</html>