<!doctype html>
<html lang="en-us">

<head>
    <title>Capstone</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header class="prim-header">
        <!-- Top Navigation Menu -->
        <button class="mobile-nav-toggle" aria-controls="primary-nav" aria-expanded="false">Menu</button>

        <nav>
            <ul id="primary-nav" data-visible="false" class="primary-nav flex">
                <li> <a href="/" class="links active">Homepage</a></li>
                <li> <a class="links" href="/">Profile</a></li>
                <li> <a class="links" href="/">Gambling</a></li>
                <li> <a class="links" href="/">Sexual</a></li>
                <li> <a class="links" href="/">Substance</a></li>
                <li> <a class="links" href="/">Technology</a></li>
            </ul>
        </nav>
    </header>

    <main>

    </main>
    <script src="../js/nav.js"></script>

</body>

</html>