<!doctype html>
<html lang="en-us">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>

    </header>
    <nav class="navbar">
        <ul>
            <li> <a href="/auth/logout">Logout</a></li>
            <li> <a href="/auth/login">Login</a></li>
            <li> <a href="/">Homepage</a></li>
            <li> <a href="/profile">Profile</a></li>
        </ul>
    </nav>
    <main>
        <a class="google-btn" href="/profile/api-docs/">Google</a>
    </main>

</body>

</html>