<!doctype html>
<html lang="en-us">

<head>
    <title>Capstone</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>

    </header>
    <nav class="navbar">
        <ul>
            <% if (user) {%> 
            <li> <a href="/auth/logout">Logout</a></li>
            <% } else {%> 
            <li> <a href="/auth/login">Login</a></li>
            <% } %> 
            <li> <a href="/">Homepage</a></li>
            <li> <a href="/profile">Profile</a></li>
            <li> <a href="/technology">Technology</a></li>
        </ul>
    </nav>
    <main>
        <h1>Welcome to your profile</h1>
    </main>

</body>

</html>