<!doctype html>
<html lang="en-us">

<head>
  <title>Capstone</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header class="prim-header">
    <!-- Top Navigation Menu -->
    <button class="mobile-nav-toggle fa fa-bars" aria-controls="primary-nav" aria-expanded="false">
      <span class="sr-only">Menu</span>
    </button>

    <nav>
      <ul id="primary-nav" data-visible="false" class="primary-nav flex">
        <li> <a href="/" class="links active">Homepage</a></li>
        <% if (user) {%>
        <li> <a class="links" href="/auth/logout">Logout</a></li>
        <% } else {%>
        <li> <a class="links" href="/auth/login">Login</a></li>
        <% } %>
        <li> <a class="links" href="/profile">Profile</a></li>
        <li> <a class="links" href="/recovery/gambling">Gambling</a></li>
        <li> <a class="links" href="/recovery/sexual">Sexual</a></li>
        <li> <a class="links" href="/recovery/substance">Substance</a></li>
        <li> <a class="links" href="/recovery/technology">Technology</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Welcome to the profile page</h1>
    <div class="wrapper">
      <header>Quote of the Day</header>
      <div class="content">
        <div class="quote-area">
          <i class="fas fa-quote-left"></i>
          <p class="quote">Never give up because you never know if the next try is going to be the one that works.</p>
          <i class="fas fa-quote-right"></i>
        </div>
        <div class="author">
          <span>__</span>
          <span class="name">Mary Kay Ash</span>
        </div>
      </div>
      <div class="buttons">
        <div class="features">
          <ul>
            <li class="speech"><i class="fas fa-volume-up"></i></li>
            <li class="copy"><i class="fas fa-copy"></i></li>
            <li class="twitter"><i class="fab fa-twitter"></i></li>
          </ul>
          <button id="quoteBtn">New Quote</button>
        </div>
      </div>
    </div>
    <div>
      <h2>Contacts</h2>
      We all need help sometimes, if you find yourself falling back into patterns that you want to avoid, don't be
      afraid to reach out to a friend, loved one, or family member.
      <a href='/profile/addcontact'>New Contact? Click here.</a>
      
    </div>
  </main>
  <footer>
    <p class="disclaimer">
        <h4>Disclaimer:</h4>
        I am not a doctor or therapist. These tips for overcoming addictions come from personal expirence, or the
        expirence of friends and family who have either suffered from or becuase of addictions.
</footer>
  <script src="../js/nav.js"></script>
  <script src="js/externalJS.js"></script>
</body>

</html>