<!doctype html>
<html lang="en-us">

<head>
  <title>Capstone</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <link rel="stylesheet" type="text/css" href="../css/contacts.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
  <header>

  </header>
  <nav class="navbar">
    <ul>
      <% if (user) {%>
      <li> <a href="/auth/logout">Logout</a></li>
      <% } else {%>
      <li> <a href="/auth/login">Login</a></li>
      <% } %>
      <li> <a href="/">Homepage</a></li>
      <li> <a href="/profile">Profile</a></li>
      <li> <a href="/recovery/gambling">Gambling</a></li>
      <li> <a href="/recovery/sexual">Sexual</a></li>
      <li> <a href="/recovery/substance">Substance</a></li>
      <li> <a href="/recovery/technology">Technology</a></li>
    </ul>
  </nav>
  <main>
    <h1>Welcome to the profile page</h1>
    <h2>Get Your Daily Quote</h2>
    <div class="quote-wrapper">
      <div class="content">
        <div class="quote-area">
          <i class="fas fa-quote-left"></i>
          <p class="quote"></p>
          <i class="fas fa-quote-right"></i>
        </div>
        <div class="author">
          <span>__</span>
          <span class="name"></span>
        </div>
      </div>
      <div class="buttons">
        <div class="features">
          <ul>
            <li class="speech"><i class="fas fa-volume-up"></i></li>
          </ul>
          <button>New Quote</button>
        </div>
      </div>
    </div>
    <div ng-controller="ContactsCtrl" style="padding:50px;">

      <tabs>
        <pane title="Localization">
        </pane>

      </tabs>
      <h2>Contacts Manager</h2>
      <h4>Members</h4>
      <ul class="unstyled">
        <li ng-repeat="contact in contacts | filter:{deleted: false}">
          <p>Contact ID = {{contact.$$hashKey}}</p>
          <p class="edit-{{contact.edit}}"><span>Name: {{contact.name}}</span>
            <br />
            <input type="text" ng-model="contact.name" placeholder="Update Your Name" required>
          </p>
          <p class="edit-{{contact.edit}}"><span>Email: {{contact.email}}</span>
            <br />
            <input type="email" ng-model="contact.email" placeholder="Update Your Name" required>
          </p>
          <button class="btn btn-danger" ng-click="deleteContact($index)"><i class="icon-trash"></i> Delete</button>
          <button class="btn btn-info btn-{{contact.edit}} btn-edit" ng-click="editContact($index)"><i
              class="icon-edit"></i> Edit</button>
          <button class="btn btn-info btn-{{contact.edit}} btn-save" ng-click="saveContact($index)"><i
              class="icon-edit"></i> Save</button>

          <hr />
        </li>
      </ul>
      <h4>Add</h4>
      <form ng-submit="addContact()">
        <ul class="unstyled">
          <li>
            <input type="text" ng-model="cName" placeholder="Enter Your Name" required>
          </li>
          <li>
            <input type="email" ng-model="cEmail" placeholder="Enter Your Email" required>
          </li>
        </ul>
        <button class="btn"><i class="icon-plus"></i>Add</button>
      </form>
    </div>
  </main>
  <script src="../js/externalJS.js"></script>
  <script src="../js/contacts.js"></script>
</body>

</html>