<!doctype html>
<html lang="en-us">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="signup-body">
    <header class="prim-header">
        <!-- Top Navigation Menu -->
        <button class="mobile-nav-toggle fa fa-bars" aria-controls="primary-nav" aria-expanded="false">
            <span class="sr-only">Menu</span>
        </button>

        <nav>
            <ul id="primary-nav" data-visible="false" class="primary-nav flex">
                <li> <a href="/" class="links active">Homepage</a></li>
                <% if (user) {%>
                <li> <a class="links" href="/auth/logout">Logout</a></li>
                <% } else {%>
                <li> <a class="links" href="/auth/login">Login</a></li>
                <% } %>
                <li> <a class="links" href="/profile">Profile</a></li>
                <li> <a class="links" href="/recovery/gambling">Gambling</a></li>
                <li> <a class="links" href="/recovery/sexual">Sexual</a></li>
                <li> <a class="links" href="/recovery/substance">Substance</a></li>
                <li> <a class="links" href="/recovery/technology">Technology</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form class="registerForm" action='/auth/registerUser' method='post'>
            <a id="backButton" href="login">&#10096; Back to Login</a>
            <!-- user input-->
            <label for="email">Email</label>
            <input type='email' name='email' id='email' placeholder='Email' required /><br /><br />

            <label for="firstname">First Name</label>
            <input type='text' name='firstname' id='firstname' placeholder='First Name' required /><br /><br />
            
            <label for="lastname">Last Name</label>
            <input type='text' name='lastname' id='lastname' placeholder='Last Name' required /><br /><br />

            <label for="password">Password</label>
            <input type='password' name='password' id='password' placeholder='Password' required />
            <!-- submit button -->
            <input type='submit' value='Register' />
        </form>
    </main>
    <script src="../js/nav.js"></script>

</body>

</html>