<!doctype html>
<html lang="en-us">

    <head>
        <title>Capstone</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/main.css">
    </head>

<body>
    <header>

    </header>
    <% include partials/nav.ejs %> 
    <main>
        <h1>Welcome to the profile page</h1>
        <div class="health">
            <h3>To your Health</h3>
            <p>
                <h3>Excluding Other Activities</h3>

                A sex addict may fixate on sex to the point where they have difficulty engaging in their other
                activities. They may fall behind on responsibilities in school, work, or their personal lives or
                become socially withdrawn. They may also prioritize sexual behavior over other forms of relaxation
                or hobbies. Relationships with friends, families, and partners may suffer because of this. <br>

                <h3>Masturbating Excessively </h3>

                While masturbation can be a healthy way to explore sexuality and express sexual drive, excessive
                masturbation can be a sign of sexual addiction. This might look like compulsive masturbation,
                masturbation during inappropriate times, or even masturbation to the point of causing physical
                discomfort or pain. <br>

                <h3>Engaging in Risky or Inappropriate Behaviors </h3>

                In some cases, sexual addiction can lead to inappropriate and/or risky sexual behaviors. This can
                include exhibitionism, public sex, sex without protection, and sex with prostitutes.

                In some cases, this can lead someone to develop sexually transmitted diseases. Studies have shown
                that those who identify as sexually compulsive are more likely to develop sexually transmitted
                diseases like HIV. <br>
                <h3> Cheating on Partners</h3>

                Someone with a sexual addiction may feel compelled to seek out sex with new partners, even if this
                means cheating on a partner or having an extramarital affair. They may seek out one-night stands on
                a regular basis or even cheat multiple times with different partners. <br>

                <h3>Committing Criminal Sex Offenses </h3>

                In some extreme cases, people may engage in criminal activities like stalking, rape, or child
                molestation. While some sexual offenders may also be sex addicts, there is no evidence that sexual
                addiction can lead someone to commit sexual offenses.
            </p>
        </div>

        <div class="family">
            <h3>To your Family</h3>


            <p>Sex and love addiction both have a profound impact on the loved ones of the addicted individual,
                often resulting in family members with low self-esteem, high levels of stress and anxiety, trust
                issues, fear, and anger.
                Betrayed romantic partners may also experience intense mood swings, constant questioning of their
                partner’s whereabouts, secretly checking their partner’s phone and computer and insomnia, or may
                self-medicate with drugs, alcohol, food, or compulsive shopping.<br>

                Children of addicted parents experience long-term effects like low self-esteem, anxiety, fear of
                abandonment, helplessness, and chronic depression. When children don’t witness healthy adult
                relationships, they are unlikely to recognize or form healthy relationships as adults, thus
                continuing the cycle.

                Studies have found that those with sex and love addiction frequently have a co-occurring substance
                use disorder, eating disorder, gambling, or other disorder, causing even more strain and potential
                damage to the family.</p>
        </div>
    </div>

    <div class="recover">
        <h2>Recovery</h2>
        <div class="tips">
            <h3>Some Tips</h3>
            <p>Can a sex addict change? Yes, although it may require treatment from a medical professional like a
                psychologist, psychiatrist, or sex therapist.

                Depending on the underlying cause and how it manifests in someone’s personal life, treatment may
                vary. If the sex addiction presents alongside another underlying anxiety disorder or mood disorder,
                the treatment plan may also include medications.

                Forms of treatment can include:

                <li>One-on-one therapy with a mental health professional
                <li>Cognitive Behavioral Therapy (CBT)
                <li>Eye movement desensitization and reprocessing (EMDR)
                <li>Psychodynamic therapy
                <li>Group therapy
                <li>Support groups
                <li>Inpatient treatment
                <li>Couples counseling or marriage counseling
            </p>
        </div>

        <h3 class="otherLinks">
            <h3>Other Links</h3>
            <p> <a href="https://www.webmd.com/mental-health/signs-sex-addict">Drug Addictions</a></p>
        </h3>
    </div>
    </main>

</body>

</html>