<!doctype html>
<html lang="en-us">

    <head>
        <title>Capstone</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/main.css">
    </head>

<body>
    <header>

    </header>
    <nav class="topnav">
        <ul id="myLinks">
            <% if (user) {%>
            <li> <a href="/auth/logout">Logout</a></li>
            <% } else {%>
            <li> <a href="/auth/login">Login</a></li>
            <% } %>
            <li> <a href="/">Homepage</a></li>
            <li> <a href="/profile">Profile</a></li>
            <li> <a href="/recovery/gambling">Gambling</a></li>
            <li> <a href="/recovery/sexual">Sexual</a></li>
            <li> <a href="/recovery/substance">Substance</a></li>
            <li> <a href="/recovery/technology">Technology</a></li>
        </ul>
    </nav>
    <main>
        <h1>Welcome to the profile page</h1>
    </main>
    <p>Drug and Alcohol additions are among the most common form of addictions. Below is a little bit about what these
        addictions can do to you, as well as some tips to help with your recovery. We've also included other links to help guide the rehabilitation.</p>
    <div class="effect">
        <h2>What An Alcohol Addiction Does to You</h2>
        <div class="body">
            <h3>To your body</h3>
            <p>Thirty seconds after your first sip, alcohol races into your brain. It slows down the chemicals and
                pathways that your brain cells use to send messages. That alters your mood, slows your reflexes, and
                throws off your balance. You also can’t think straight, which you may not recall later, because
                you’ll struggle to store things in long-term memory.</p>
            <p>Your liver breaks down almost all the alcohol you drink. In the process, it handles a lot of toxins.
                Over time, heavy drinking makes the organ fatty and lets thicker, fibrous tissue build up. That
                limits blood flow, so liver cells don’t get what they need to survive. As they die off, the liver
                gets scars and stops working as well, a disease called cirrhosis.
            </p>
            <p>
                You might not link a cold with a night of drinking, but there might be a connection. Alcohol puts
                the
                brakes on your immune system. Your body can’t make the numbers of white blood cells it needs to
                fight
                germs. So for 24 hours after drinking, you’re more likely to get sick. Long-term, heavy drinkers are
                much more likely to get illnesses like pneumonia and tuberculosis.
            </p>
        </div>

        <div class="family">
            <h3>To your Family</h3>
            <p>Alcohol abuse and alcoholism within a family is a problem that can destroy a marriage or drive a
                wedge between members. That means people who drink can blow through the family budget, cause fights,
                ignore children, and otherwise impair the health and happiness of the people they love.</p>
            <p> Alcohol can impair one’s cognitive functions and physical capabilities, and this, at some point,
                will likely result in neglect of responsibilities associated with work, home life, and/or school.
            </p>
            <p>Drinking can increase a person’s likelihood of getting into fights, displaying disorderly conduct in
                public, driving under the influence, and becoming involved in domestic disputes or violence. </p>
        </div>
    </div>
    <h2>What A Drug Addiction Does to You</h2>
    <div class="health">
        <h3>To your Health</h3>
        <p>Drugs are chemicals that affect the body and brain. Different drugs can have different effects. Some effects
            of drugs include health consequences that are long-lasting and permanent. They can even continue after a
            person has stopped taking the substance.</p>
        <p>They cause large amounts of dopamine, a neurotransmitter that helps regulate our emotions, motivation and
            feelings of pleasure, to flood the brain and produce a “high.” Eventually, drugs can change how the brain
            works and interfere with a person’s ability to make choices, leading to intense cravings and compulsive drug
            use. Over time, this behavior can turn into a substance dependency, or drug addiction.</p>

    </div>

    <div class="family">
        <h3>To your Family</h3>
        <p>The effects of drug and alcohol addiction can be both short-term and long-term. Peaceful, loving homes can be
            divided by the strain caused by drug and alcohol abuse. Conflict becomes normal as family members fight to
            engage with a child who abuses Heroin, for example. Trust begins to erode. Relatives may become more guarded
            if a relative abusing illicit substances acts with aggression or hides their disorder in secrecy. Marriages
            can end due to changes caused by addiction. Communication becomes more difficult, highlighting frustration.
        </p>
        <p>Family members may see their relative endure side effects of drugs or fly into rages when under the influence
            of alcohol. Others may see their relatives lose weight rapidly, becoming unrecognizable. Some may not hear
            from a loved one for an extended period of time, only to discover that they are living on the street or have
            fatally overdosed. Such shocks can cause a relative to endure severe trauma or develop unhealthy coping
            mechanisms like codependent behaviors in response.</p>
        <p>Witnessing the trauma of a parent suffering from addiction at a young age has long-term effects on the child.
            Children who grow up seeing a parent addicted to drugs or alcohol are more likely to develop SUDs in their
            adulthood. They are also 3 times more likely to be neglected or physically and/or sexually abused. Seeing a
            parent on drugs often invokes distressing emotions which not only create delays in learning and development
            but can also lead to pronged mental and emotional disorders. Since children are still developing their
            personalities and are vulnerable to external influences, they run the risk of repeating such behaviors.</p>
    </div>
    </div>
    <div class="recover">
        <h2>Recovery</h2>
        <div class="tips">
            <h3>Some Tips</h3>
            <button type="button" class="collapse">
                <h4>1. Seek Treatment</h4>
                Attending an outpatient or inpatient rehabilitation facility can the best way to stop drinking. This
                is primarily due to medical supervision and care. Alternatively therapy can help you self-reflect
                and understand the reason you drink. It can also help you change your thought patterns to avoid
                alcohol.
            </button>
            <div class="text">
                When seeking treatment the first step is often to consult your primary care doctor or GP. Your
                doctor can evaluate your drinking patterns, diagnose any co-occurring disorders, assess your overall
                health, and offer treatment referrals. They may even be able to prescribe medication to help you
                quit.
            </div>

            <button type="button" class="collapse">
                <h4>2. Announce your goal</h4>
                Spending time with people who always drink can tempt you to drink again. Spending time with people
                who don't drink helps you practice new habits.
            </button>
            <div class="text">
                Let friends, family members, and co-workers know that you’re trying to stop or cut back on drinking.
                If they drink, ask them to support your recovery by not doing so in front of you. Sometimes this
                means distancing yourself from people who don’t support your efforts to stop drinking or respect the
                limits you’ve set and may mean giving up certain friends and social connections.
            </div>

            <button type="button" class="collapse">
                <h4> 3.Cutting Back</h4>
                Whether or not you can successfully cut back on your drinking depends on the severity of your
                drinking problem. If you’re not ready to quit entirely, or if you don’t have an alcohol abuse
                problem but want to cut back for personal or health reasons, consider the following tips
            </button>
            <div class="text">
                Choose a limit for how much you’ll drink and write your drinking goal down and keep it where you
                will frequently see it, such as on your phone or taped to your refrigerator. <br>Keep a record of
                your drinking to help you reach your goal. For 3 to 4 weeks, write down every time you have a drink
                and how much you drink. <br>When you drink, sip slowly and take a break of 30 minutes or one hour
                between drinks. Or drink soda, water, or juice between alcoholic drinks. Drinking on an empty
                stomach is never a good idea, so make sure you eat food when you drink.
            </div>

            <button type="button" class="collapse">
                <h4> 4. Change Your Habits</h4>
                Reshape your habits that were linked to drinking. For example, if you go to happy hour often, change
                locations to a cafe.
            </button>
            <div class="text">
                Finding ways to identify your causes for can drinking be extremely beneficial to making progress.
                When do they occur most frequently? Do certain people or places trigger them? Do you have a negative
                thought followed by an intense urge to drink? Identifying negative thoughts can be difficult, but it
                helps to have someone other than yourself helping you. For some, this is a family member or support
                person. For many, counselors and therapists are professionally-trained experts in this type of
                healing.
            </div>

            <button type="button" class="collapse">
                <h4> 5. Support Groups</h4>
                You can attend Alcoholics Anonymous (AA) or other support group meetings. This will provide you with
                a community of other sober friends.
            </button>
            <div class="text">
                Finding an organization or community group where you can give back to other people is another
                valuable tool in recovery. Serving others allows your mind to take a break from your own struggle
                and refocus your thoughts. It can be a volunteer organization or simply helping out family members,
                friends or peers in recovery.
            </div>
        </div>
    </div>
    <div class="recover">
        <h2>Recover From Drug Abuse</h2>
        <div class="tips">
            <h3>Some Tips</h3>
            <p>For many people struggling with addiction, the toughest step toward recovery is the very first one:
                recognizing that you have a problem and deciding to make a change. It’s normal to feel uncertain about
                whether you’re ready to start recovery, or if you have what it takes to quit. If you’re addicted to a
                prescription drug, you may be concerned about how you’re going to find an alternate way to treat a
                medical condition. It’s okay to feel torn.</p>
            <p>Once you’ve committed to recovery, it’s time to explore your treatment choices. While addiction treatment
                can vary according to the specific drug, a successful program often includes different elements, such
                as:<br>

                Detoxification. Usually the first step is to purge your body of drugs and manage withdrawal
                symptoms.<br>

                Behavioral counseling. Individual, group, and/or family therapy can help you identify the root causes of
                your drug use, repair your relationships, and learn healthier coping skills.<br>

                Medication may be used to manage withdrawal symptoms, prevent relapse, or treat any co-occurring mental
                health condition such as depression or anxiety.<br>

                Long-term follow-up can help to prevent relapse and maintain sobriety. This may include attending
                regular in-person support groups or online meetings to help keep your recovery on track.</p>
        </div>

        <h3 class="otherLinks">
            <h3>Other Links</h3>
            <h4>Alcoholics Anonymous </h4>
            <p> <a href="https://alcoholicsanonymous.com/">Alcoholics Anonymous </a></p>
        </h3>
        <script src="../js/nav.js"></script>

</body>

</html>