<!doctype html>
<html lang="en-us">

<head>
    <title>Capstone-Technology Addiction</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header class="prim-header">
        <!-- Top Navigation Menu -->
        <button class="mobile-nav-toggle fa fa-bars" aria-controls="primary-nav" aria-expanded="false">
            <span class="sr-only">Menu</span>
        </button>

        <nav>
            <ul id="primary-nav" data-visible="false" class="primary-nav flex">
                <li> <a href="/" class="links active">Homepage</a></li>
                <% if (user) {%>
                <li> <a class="links" href="/auth/logout">Logout</a></li>
                <% } else {%>
                <li> <a class="links" href="/auth/login">Login</a></li>
                <% } %>
                <li> <a class="links" href="/profile">Profile</a></li>
                <li> <a class="links" href="/recovery/gambling">Gambling</a></li>
                <li> <a class="links" href="/recovery/sexual">Sexual</a></li>
                <li> <a class="links" href="/recovery/substance">Substance</a></li>
                <li> <a class="links" href="/recovery/technology">Technology</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Technology Addiction</h1>

        <h2>Types of Technology Addiction</h2>
        <div class="techTypes"><img src="../img/GettyImages-1358781969.jpg" alt="techImg" class="techImg">
            <div>
                <h4>Cybersex Addiction</h4>
                <p>A cybersex addiction is one of the more self-explanatory internet addictions. It involves
                    online pornography, adult
                    websites, sexual fantasy/adult chat rooms, and XXX webcam services. An obsession with
                    any of these services can be
                    harmful to one’s ability to form real-world sexual, romantic, or intimate relationships.
                </p>
                <h4>Cyber (Online) Relationship Addiction</h4>
                <p>Cyber or online relationship addicts are deeply involved with finding and maintaining
                    relationships online, often
                    forgetting and neglecting real-life family and friends. Typically online relationships
                    are formed in chat rooms or
                    different social networking sites but can occur anywhere one can interact with people
                    online. </p>
            </div>
            <div>
                <h4>Net Compulsions</h4>
                <p>Net compulsions concern interactive activities online that can be extremely harmful, such
                    as online gambling, trading
                    stocks, online auctions (such as eBay), and compulsive online shopping. These habits can
                    have a detrimental impact
                    on one’s financial stability and disrupt job-related duties. Spending or losing
                    excessive amounts of money can also
                    cause
                    stress in one’s relationships. With instant and easy access to online casinos and
                    stores, it is easy for those who
                    are
                    already susceptible to a gambling or spending addiction to get hooked online.</p>
            </div>

            <div>
                <h4>Computer Or Gaming Addiction</h4>
                <p>Computer addiction involves online
                    and offline activities that
                    can
                    be done with a computer. As computers became more widely available, games such as
                    Solitaire, Tetris, and Minesweeper
                    were programed into their software. Researchers quickly found that obsessive computer
                    game playing was becoming a
                    problem in certain settings. Office employees would spend excessive amounts of time
                    playing these games, causing a
                    notable decrease in productivity. Not only are these classic games still available today
                    but so are thousands of new
                    ones, and the condition of computer gaming addiction is as prevalent and harmful as
                    ever.</p>
            </div>

        </div>

        <h2>What A Technology Addiction Does to You</h2>
        <div class="techEffect">
            <div class="health">
                <h3>To your Body</h3>
                <p>Even though using technology isn’t the same as using drugs or alcohol, the brain
                    processes both addictions the same way. Winning a level of a video game, getting
                    “likes” on a picture, and gambling online releases dopamine, a feel-good
                    chemical in the brain, just like drinking alcohol or using drugs does. Over
                    time, we begin to crave this dopamine release, which compels us to use
                    technology and internet-enabled devices even more. Unfortunately, this tricks
                    the brain into thinking it doesn’t need to create and release dopamine
                    naturally, which disrupts the brain’s delicate chemical balance.

                    Without enough dopamine, we tend to feel down, have trouble concentrating, and
                    struggle to stay motivated. Naturally, we seek another dopamine release. The
                    brain, which now identifies technology as a reliable way to release dopamine,
                    signals us to spend even more time on the internet, increasing our risk of an
                    internet addiction disorder.</p>
                <p>Disrupting the brain’s ability to differentiate day from night.
                    The glowing light emitted by laptops, tablets, and smartphones tends to
                    interfere with the brain and body’s internal light cues and sleep-inducing
                    hormones. Constantly exposing ourselves to bright lights can make the brain
                    think it’s still daytime when it’s actually night. This, of course, can make
                    falling asleep difficult and can trigger disrupted sleep patterns and insomnia.
                </p>
            </div>
            <img src="../img/GettyImages-1083962008.jpg" alt="techImg" class="techImg">
        </div>

        <h3>Some Recovery Tips</h3>
        <div class="techRecover">
            <img src="../img/tumblr_pkx06lmfkv1qanryko1_640.jpg" alt="techImg" class="techImg">
            <div>
                <p> In the digital world we find ourselves in total abstinence from technology is
                    unrealistic, nor is it an effective means of correction of the problem. There is
                    consensus that abstinence from digital devices should not be the goal of
                    treatment, but rather the goal should be moderation and balance. However,
                    abstinence from digital devices, or at least abstinence from the source of the
                    problem (ex: social media, gaming, porn, and other digital sources that are not
                    at the root of the individual’s addiction), may be encouraged for the initiation
                    of treatment for up to 45 to 90 days until the individual is able to work
                    towards moderation if moderation is the goal.
                </p>
                <p>
                    For those that may need to seek professional help from an addiction therapist
                    there are different modalities of treatment available for technology addictions.
                    Since each individual is unique with their own set of circumstances, history,
                    and symptoms it is important to find a treatment approach that works for each
                    respective individual, and tailor it to meet their needs. It will be important
                    to address the contributing factors that led a digital addiction such as
                    neurological imbalances, underlying mental health issues, and environmental
                    stressors.</p>
            </div>
            <div id="techPFulll">
                The first step of treating a digital addiction is the individual’s awareness of
                the problem, and a desire to want to get help. This is often the most
                challenging step for the individual. Oftentimes the problem is realized by
                family and friends who may seek out help on behalf of the individual. In many
                cases an intervention is needed in order to assist the individual into
                recognition of the problem and help them initiate treatment. If the individual
                is motivated the issue can resolve itself with self-corrective behaviors,
                screen-life balance, and assistance from technological innovations that help
                with digital moderation such as by enabling app restrictions or WiFi
                restrictions, turning off notifications, enabling “Do Not Disturb” mode, setting
                up automatic email/text responses, enabling automatic downtime, blocking apps or
                websites, using screen time reports, and other such innovations that can help
                curb digital use.</div>

        </div>

    </main>
    <footer>
        <p class="disclaimer">
            <h4>Disclaimer:</h4>
            I am not a doctor or therapist. These tips for overcoming addictions come from personal expirence, or the
            expirence of friends and family who have either suffered from or becuase of addictions.
    </footer>
    <script src="../js/nav.js"></script>

</body>

</html>