<!doctype html>
<html lang="en-us">

<head>
    <title>Capstone</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>

    </header>
    <nav class="navbar">
        <ul>
            <li> <a href="/auth/logout">Logout</a></li>
            <li> <a href="/auth/login">Login</a></li>
            <li> <a href="/">Homepage</a></li>
            <li> <a href="/profile">Profile</a></li>
            <li> <a href="/technology">Technology</a></li>
        </ul>
    </nav>
    <main>
        <h3>Some Do's and Do Not's in Recovery</h3>
        <div class="toDos">

            <div class="toDo">
                <ol>
                    <li>Do continue to work your program.</li>
                    <li>Do involve others in your recovery. Continue to talk to someone when
                        needed regarding your emotional & mental health.</li>
                    <li>Do use the activities that work best for you and promote your
                        recovery. This is different for everyone.</li>
                    <li>Do keep busy (do things to help your physical health, participate in
                        service activities, spend time with family or friends)</li>
                    <li>Do take up a wholesome hobby.</li>
                    <li>Identify places that can act as a trigger</li>
                </ol>
            </div>
            <div class="toNotDo">
                <ol>
                    <li>Do not underestimate your problem. This can happen to those who have
                        clean time under their belt.</li>
                    <li>Do not fall into dangerous behaviors or emotions. (I.e. dishonesty,
                        blame, self-pity, resentment etc.)</li>
                    <li>Do not get complacent with your life and recovery. Boredom is
                        dangerous.</li>
                    <li>Do not frequent places that can act as a trigger</li>
                    <li>Do not replace your addiction with something else.</li>
                    <li>Do not fall into self-pity when you have done something wrong or
                        relapsed.</li>
                </ol>
            </div>
        </div>
    </main>

</body>

</html>