.btn-false.btn-edit {
    display: inline-block;
}

.btn-true.btn-edit {
    display: none;
}

.btn-false.btn-save {
    display: none;
}

.btn-true.btn-save {
    display: inline-block;
}

.edit-false span {
    display: inline-block;
}

.edit-true span {
    display: none;
}

.edit-false input {
    display: none;
}

.edit-true input {
    display: inline-block;
}