@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    padding: 0;
    margin: 0;

    overflow-x: hidden;
}

.links {
    text-decoration: none;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem)
}

.prim-header {
    align-items: center;
    justify-content: space-between;
}

.mobile-nav-toggle[aria-expanded] {
    border: none;
    display: none;
}

.primary-nav {
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.2);
    list-style: none;
    color: white;
    font-weight: bold;
}

.disclaimer {
    display: flex;
    align-items: center;
    font-size: .75em;
}


@media (max-width: 35em) {

    p,
    .addiction-info {
        padding: .5em;
        margin: .25em;
    }

    .primary-nav {
        --gap: 2em;
        z-index: 900;

        position: fixed;

        flex-direction: column;
        padding: min(5vh, 10rem) 1em;
        top: 2rem;
        right: 2rem;
        transform: translateX(150%);

        transition: transform 375ms ease-out;
    }

    .primary-nav[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle[aria-expanded] {
        display: block;
        position: absolute;
        z-index: 999;
        top: 2rem;
        right: 2rem;
        background-color: transparent;
    }

    .heroImage {
        width: 100%;
        aspect-ratio: 1.2;
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }

    .halfImage {
        width: 90%;
        aspect-ratio: 1.65;
        padding: 0 1.25rem 0 1.25rem;
    }

    .gamImg {
        width: 90%;
        aspect-ratio: 1.65;
        padding: 0 1.25rem 0 1.25rem;
    }
}

@media (min-width: 35em) {
    .primary-nav {
        --gap: 3rem;
        padding-block: 2rem;
        padding-inline: clamp(3rem, 10vw, 10rem);
        top: 2rem;
        right: 2rem;
    }

    .hero {
        display: grid;
        column-gap: 30px;
        grid-template-columns: 3fr 2fr;
    }

    .heroImage {
        max-width: 60vw;
        aspect-ratio: 1.5;
        padding: 0 0.5rem 0 2rem;
    }

    .toDos {
        display: grid;
        column-gap: 20px;
        grid-template-columns: 1fr 1fr;
    }

    #addiction-info {
        display: grid;
        column-gap: 25px;
        grid-template-columns: 1fr 1fr;
    }

    .halfImage {
        max-width: 50vw;
        aspect-ratio: 1.65;
        padding: 0 0.5rem 0 2rem;
    }

    .full {
        grid-column: 1 / span 2;
    }

    .addiction-info {
        padding: 2rem;
    }

    .effect {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .health,
    .family {
        padding: 0 0.5rem 0 2rem;

    }

    .effectImg {
        width: 80%;
        aspect-ratio: 1.65;
        padding: 0 1.25rem 0 1.25rem;
    }

    .MAFFull {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .recoverImg {
        width: 80%;
        aspect-ratio: 1.65;
        padding: 0 1.25rem 0 1.25rem;
    }
}