@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

body {
    padding: 0;
    margin: 0;

    overflow-x: hidden;
}

html {
    padding: 0 .75rem;

}

.links,
footer {
    text-decoration: none;
    color: white;
}

form {
    height: 75vw;
    min-height: 500px;
    width: 40vw;
    min-width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -15%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

.button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.social {
    margin-top: 30px;
    display: flex;
}

.go, .fb {
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    text-align: center;
}

.fb:hover, .go:hover {
    background-color: rgba(255, 255, 255, 0.47);
}

.social .fb {
    margin-left: 25px;
}

.social i {
    margin-right: 4px;
}

.social a {
    text-decoration: none;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem)
}

.prim-header {
    align-items: center;
    justify-content: space-between;
    width: auto;
}

.prim-header,
footer {
    background-color: #202842;
    height: auto;
}

.signup-body {
    background-color: #0b1a49
}

.mobile-nav-toggle[aria-expanded] {
    border: none;
    display: none;
}

.primary-nav {
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.2);
    list-style: none;
    color: white;
    font-weight: bold;
}

.disclaimer {
    display: flex;
    align-items: center;
    font-size: .75em;
}

header,
.content :where(i, p, span) {
    color: #202842;
}

.wrapper header {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.wrapper .content {
    margin: 35px 0;
}

.content .quote-area {
    display: flex;
    justify-content: center;
}

.quote-area i {
    font-size: 15px;
}

.quote-area i:first-child {
    margin: 3px 10px 0 0;
}

.quote-area i:last-child {
    display: flex;
    margin: 0 0 3px 10px;
    align-items: flex-end;
}

.quote-area .quote {
    font-size: 22px;
    text-align: center;
    word-break: break-all;
}

.content .author {
    display: flex;
    font-size: 18px;
    margin-top: 20px;
    font-style: italic;
    justify-content: flex-end;
}

.author span:first-child {
    margin: -7px 5px 0 0;
    font-family: monospace;
}

.wrapper .buttons {
    border-top: 1px solid #ccc;
}

.buttons .features {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.features ul {
    display: flex;
}

.features ul li {
    margin: 0 5px;
    height: 47px;
    width: 47px;
    display: flex;
    cursor: pointer;
    color: #5372F0;
    list-style: none;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 2px solid #5372F0;
    transition: all 0.3s ease;
}

.features ul li:first-child {
    margin-left: 0;
}

ul li:is(:hover, .active) {
    color: #fff;
    background: #5372F0;
}

ul .speech.active {
    pointer-events: none;
}

.buttons button {
    border: none;
    color: #fff;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    padding: 13px 22px;
    border-radius: 30px;
    background: #5372F0;
}

.buttons button.loading {
    opacity: 0.7;
    pointer-events: none;
}

.google {
    width: 5%;
    aspect-ratio: 1;
}

.blue {
    background-color: #1e88e5;

}

.red {
    background-color: #e53935;
}

.btn {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
    cursor: pointer;
}

.card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    text-align: center !important;
}

.contacts {
    margin: 15px 5px;
}

.wrapper {
    width: 90vw;
    background: #fff;
    border-radius: 15px;
    padding: 30px 30px 25px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}

h4 {
    margin: 0;
}

@media (max-width: 35em) {

    p,
    .addiction-info {
        padding: .5em;
        margin: .25em;
    }

    .primary-nav {
        --gap: 2em;
        z-index: 900;

        position: fixed;

        flex-direction: column;
        padding: min(5vh, 10rem) 1em;
        top: 2rem;
        right: 2rem;
        transform: translateX(150%);

        transition: transform 375ms ease-out;
    }

    .primary-nav[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle[aria-expanded] {
        display: block;
        position: absolute;
        z-index: 999;
        top: 2rem;
        right: 2rem;
        background-color: transparent;
    }

    .heroImage {
        width: 100%;
        aspect-ratio: 1.2;
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }

    .halfImage {
        width: 90%;
        aspect-ratio: 1.65;
    }

    .gamImg,
    .subImg,
    .techImg {
        width: 90%;
        aspect-ratio: 1.65;
    }


}

@media (min-width: 35em) {
    .primary-nav {
        --gap: 3rem;
        padding-block: 2rem;
        padding-inline: 1rem;
        top: 2rem;
        right: 2rem;
    }

    .hero {
        display: grid;
        column-gap: 30px;
        grid-template-columns: 1fr;
    }

    .heroImage {
        max-width: 60vw;
        aspect-ratio: 1.5;
        float: right;
        padding: .15rem;
        margin: .2rem;
    }

    .toDos {
        display: grid;
        column-gap: 20px;
        grid-template-columns: 1fr 1fr;
    }

    #addiction-info {
        display: grid;
        column-gap: 25px;
        grid-template-columns: 1fr 1fr;
    }

    .halfImage {
        max-width: 50vw;
        aspect-ratio: 1.65;
    }

    .full {
        grid-column: 1 / span 2;
    }

    .effect {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .effectImg {
        width: 80%;
        aspect-ratio: 1.65;
    }

    .MAFFull {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .recoverImg,
    .sexImg,
    .subImg,
    .techImg {
        width: 95%;
        aspect-ratio: 1.65;
    }

    .familyfull,
    .healthFull,
    .subFull,
    .alcoholFull {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .alcoholFull .family {
        grid-column: 1 / span 2;

    }

    .subfamily {
        grid-column: 1 / span 2;
    }

    .techTypes,
    .techEffect,
    .techRecover {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #techPFulll {
        grid-column: 1 / span 2;
    }

    .links {
        font-size: 125%;
    }

    .prim-header,
    footer {
        padding: 5px 0px;
        margin: 10px 0px;

    }
}