@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    padding: 0;
    margin: 0;

    overflow-x: hidden;
}

.links {
    text-decoration: none;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem)
}

.prim-header {
    align-items: center;
    justify-content: space-between;
}

.mobile-nav-toggle[aria-expanded] {
    border: none;
    display: none;
}

.primary-nav {
    padding: 0;
    margin: 0;
    background-color: hsl(0 0% 100% / 0.1);
    list-style: none;
    
}

@media (max-width: 35em) {
    .primary-nav {
        --gap: 2em;
        z-index: 900;

        position: fixed;

        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        transform: translateX(100%);
        transition: transform 375ms ease-out;
    }

    .primary-nav[data-visible="true"] {
        transform: translateX(0%);

    }

    .mobile-nav-toggle[aria-expanded] {
        display: block;
        position: absolute;
        z-index: 999;
        top: 2rem;
        right: 2rem;
        background-color: white;
    }
}

@media (min-width: 35em) {
    .primary-nav {
        --gap: 3rem;
        padding-block: 2rem;
        padding-inline: clamp(3rem, 10vw, 10rem);
        top: 2rem;
        right: 2rem;
    }
}